.selectInput {
  margin: 0 5px;
  background: #ffffff;
  color: grey;
  box-shadow: inset 5px 5px 10px #d9d9d9, inset -5px -5px 10px #ffffff;
  border: none;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  outline: none;
}
